a {
    color: #484abf
}

.p {
    font-size: x-small;
}

input:focus {
    border:#484abf 1px solid;
}

.int {
    min-height: 90vh;
    background-image: url('./Assets/business.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
